#homepage-footer {
  width: calc(100% - 80px);
  flex-shrink: 0;
  min-height: 7.5rem;
  padding: 0 40px;
  background-color: var(--top-blue);
}

.footer-copyright {
  font-size: .75rem;
}

.footer-copyright:nth-child(1) {
  margin-top: 20px;
}

#footer-icon-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.footer-icon {
  font-size: 1.25rem;
  margin-right: 15px;
  cursor: pointer;
}

@media (max-width: 450px) {
  #footer-icon-container {
    justify-content: space-evenly;
  }
}