#rules-carousel-container {
  position: relative;
}

#rules-carousel-back-btn,
#rules-carousel-next-btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: calc(50% - .75rem);
  font-size: 1.5rem;
  z-index: 2;
}

#rules-carousel-back-btn {
  left: 10%;
  text-shadow: .125rem .125rem .25rem #000;
}

#rules-carousel-next-btn {
  right: 10%;
  text-shadow: -.125rem .125rem .25rem #000;
}

.rules-carousel-item {
  width: 50vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 25vw;
  box-shadow: .125rem .125rem .25rem #000;
  padding: 0 3rem;
  background-color: rgba(38, 82, 126, .1);
}

.rules-carousel-item:first-of-type {
  margin-left: calc(25vw - 3rem);
}

#rules-carousel-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  padding-top: 12.5vh;
  position: relative;
}

#rc-position-indicator-container {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
}