#search-bar {
  width: 300px;
  height: 1.75em;
  outline: none;
  font-size: 0.9rem;
}

#search-area {
  margin: auto;
  margin-right: 15px;
}

#search-error {
  position: absolute;
  background-color: hsl(0, 100%, 95%);
  color: hsl(6, 75%, 49%);
  border: 1px solid #000;
  width: 302px;
  padding: 1px 3px;
  padding-right: 0;
  font-size: 1rem;
}

#search-button {
  position: absolute;
  right: 15px;
  border: none;
  background-color: transparent;
  margin-top: 6px;
  font-size: 1rem;
  cursor: pointer;
}
