.search-item {
  width: 100%;
  min-height: 1.5rem;
  padding: 1px 0 1px 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-item:hover {
  background-color: #dddddd;
}

