#search-bar {
  width: 300px;
  height: 1.75em;
  outline: none;
  font-size: 0.9rem;
  border: 1px solid #000;
  border-radius: 5px;
  padding-left: 5px;
  transition: box-shadow .2s;
}

#search-bar:focus {
  box-shadow: 2px 2px 4px #808080,
              -2px 2px 4px #808080;
  transition: box-shadow .2s;
}

#search-area {
  margin: auto;
  margin-right: 15px;
}

#search-error {
  position: absolute;
  background-color: hsl(0, 100%, 95%);
  color: hsl(6, 75%, 49%);
  border: 1px solid #000;
  width: 304px;
  height: 1.75em;
  padding: 1px 3px;
  padding-top: 10px;
  padding-right: 0;
  font-size: 1rem;
  box-shadow: 1px 1px 2px #808080,
              -1px 1px 2px #808080;
}

#search-button {
  position: absolute;
  right: 15px;
  border: none;
  background-color: transparent;
  margin-top: 6px;
  font-size: 1rem;
  cursor: pointer;
}
