.search-item {
  width: 301px;
  height: 1.5rem;
  padding: 1px 5px;
  padding-right: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-item:hover {
  background-color: #dddddd;
}

.invisible {
  display: none;
}

.floating-image-container {
  position: absolute;
  right: 110%;
  top: 0;
  z-index: 2;
}

.floating-image-container img {
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 4px 2px #808080;
}