#banner-container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 58px;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--orange-hl);
}

#app-title {
  margin: 10px;
  background: linear-gradient(to right, var(--orange-hl), var(--orange-hl) 70%, #fff 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#turn-changer {
  margin: auto 50px;
}

#floating-card-container {
  position: absolute;
  right: 500px;
  top: 40px;
  z-index: 4;
}

#floating-card-container img {
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 4px 2px hsl(20, 100%, 88%);
}