#homepage-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

#homepage-content {
  max-width: 100%;
  min-height: calc(100% - 7.5rem - 62px);
  padding-top: 62px;
  flex: 1 0 auto;
}

.perks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10rem;
}

.perks h2 {
  margin: 0;
  max-width: 25rem;
  text-align: center;
  font-size: clamp(1rem, 3vw, 1.75rem);
  line-height: 1.5;
  font-weight: 400;
  color: rgb(219, 219, 219);
}

.perks svg {
  min-width: 25rem;
}

#gh-dis-cta {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10rem;
}

#gh-dis-cta a {
  text-decoration: none !important;
}

#github-cta,
#discord-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 17rem;
  height: 25rem;
  padding: 0 4rem;
  background-color: var(--top-blue);
  border-radius: 5px;
  font-size: 1.25rem;
  cursor: pointer;
  box-shadow: -2px 4px 0 1px black;
  transition: background-color .5s, box-shadow .5s;
  -webkit-transition: background-color .5s, box-shadow .5s;
}

#github-cta:hover,
#discord-cta:hover {
  background-color: #2d5e90;
  box-shadow: -4px 6px 6px 1px rgba(0, 0, 0, .5);
  transition: background-color .5s, box-shadow .5s;
  -webkit-transition: background-color .5s, box-shadow .5s;
}

#github-cta p,
#discord-cta p {
  margin: 0;
  text-align: center;
  text-shadow: none;
  line-height: 1.5;
  transition: text-shadow .5s;
  -webkit-transition: text-shadow .5s;
}

#github-cta i {
  color: black;
  text-shadow: -2px 4px 4px rgba(0, 0, 0, .5);
  transition: text-shadow .5s;
  -webkit-transition: text-shadow .5s;
}

#github-cta:hover i,
#github-cta:hover p,
#discord-cta:hover p {
  text-shadow: -4px 6px 6px rgba(0, 0, 0, .5);
  transition: text-shadow .5s;
  -webkit-transition: text-shadow .5s;
}

#discord-cta i {
  color: var(--discord-blue);
  text-shadow: -2px 2px 0 rgba(0, 0, 0, .25),
    -2px 4px 4px rgba(0, 0, 0, .5);
  transition: text-shadow .5s;
  -webkit-transition: text-shadow .5s;
}

#discord-cta:hover i {
  text-shadow: -4px 3px 1px rgba(0, 0, 0, .25),
    -4px 4px 6px rgba(0, 0, 0, .5);
  transition: text-shadow .5s;
  -webkit-transition: text-shadow .5s;
}

.cta-icon {
  font-size: 8rem;
}

#newsletter-cta {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: calc(25rem - 10px);
  border-top: 5px solid var(--orange-hl);
  border-bottom: 5px solid var(--orange-hl);
  margin-bottom: 10rem;
  background-color: rgba(38, 82, 126, .1);
}

#newsletter-cta h2 {
  margin: 0;
  text-align: center;
  max-width: 45%;
  line-height: 1.5;
  font-size: clamp(1rem, 3vw, 1.5rem);
}

#newsletter-cta label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
}

#newsletter-cta label p {
  margin: 0 10px 0 0;
}

#newsletter-cta input {
  border: 2px solid var(--orange-hl);
  transition: box-shadow .3s;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: transparent;
  color: white;
  width: 85%;
  max-width: 23.5rem;
  height: 2rem;
  font-size: 1rem;
  padding: 0 10px;
  outline: none;
}


.newsletter-input-focused {
  box-shadow: 0 3px 0 var(--orange-hl);
  transition: box-shadow .3s, background-color .3s, border .3s;
  -webkit-transition: box-shadow .3s, background-color .3s, border .3s;
}

#newsletter-cta label button {
  height: 2.25rem;
  padding: 0 .5rem;
  font-weight: 600;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: box-shadow .3s, background-color .3s, border .3s;
  -webkit-transition: box-shadow .3s, background-color .3s, border .3s;
}

/* ******** */
/*  Mobile  */
/* ******** */

@media (max-width: 850px) {
  .perks {
    flex-direction: column;
    justify-content: flex-start;
  }

  .perks svg {
    margin-bottom: 2rem;
  }

  #gh-dis-cta {
    flex-direction: column;
  }

  #github-cta {
    margin-bottom: 2rem;
  }

}

@media (max-width: 500px) {
  #github-cta,
  #discord-cta {
    width: 11.5rem;
    height: 15.5rem;
    padding: 0 2rem;
    font-size: .825rem;
    line-height: 1.75;
  }

  .cta-icon {
    font-size: 6rem;
  }

  #newsletter-cta {
    height: calc(17.5rem - 10px);
  }

  #newsletter-cta h2 {
    max-width: 75%;
  }

  #newsletter-cta label {
    flex-direction: column;
    width: 90%;
  }

  #newsletter-cta input,
  #newsletter-cta label p {
    margin-bottom: 10px;
  }

  #newsletter-cta input {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: calc(85% - 24px);
    font-size: .75rem;

  }

  #newsletter-cta label button {
    height: 2rem;
    padding: 0 .5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .perks,
  #gh-dis-cta {
    margin-bottom: 7rem;
  }

  .perks h2 {
    max-width: 70vw;
    font-size: 1.25rem;
  }

  .perks svg {
    min-width: 0;
    max-width: 14rem;
    height: fit-content;
    max-height: 9rem;
  }
}