#search-bar {
  width: 300px;
  outline: none;
  margin-right: 1px;
}

#search-area {
  min-height: 240px;
}

#search-error {
  background-color: hsl(0, 100%, 95%);
  color: hsl(6, 75%, 49%);
  border: 1px solid #000;
  width: 300px;
  padding: 1px 3px;
  padding-right: 0;
  font-size: 1rem;
}