#app-grid-top-row-right-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 20px;
}

#app-grid-top-row-right-col p {
  margin: 0;
  margin-bottom: 16px;
}

#display-card-info-image-container {
  grid-column-start: 1;
  width: 288px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}

#display-card-info-image-container img {
  max-width: 100%;
  height: auto;
}

#display-card-info-text-container {
  grid-column-start: 2;
  padding: 10px;
  padding-right: 20px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
}

#display-card-text-name-mana {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#display-card-flavor-text {
  font-family: "MPlantin", Georgia, "Times New Roman", serif;
  font-weight: 300;
}