#signin-form,
#signup-form {
  position: relative;
  place-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 40vh;
}

#signin-form label,
#signup-form label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.reveal-password-btn {
  position: absolute;
  right: 2px;
  /* top: 1.5rem; */ /* For Cizel font */
  top: 1.25rem;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: var(--orange-hl);
  outline: none;
  border: none;
  border-left: 2px solid var(--orange-hl);
  cursor: pointer;
  text-shadow: none;
  transition: text-shadow .3s, color .3s;
  -webkit-transition: text-shadow .3s, color .3s;
}

.reveal-password-btn:hover {
  color: hsl(20, 100%, 63%);
  text-shadow: -1px 1px 0 rgba(255, 113, 40, .5),
               -2px 2px 2px #000;
  transition: text-shadow .3s, color .3s;
  -webkit-transition: text-shadow .3s, color .3s;
}

#signin-btn,
#signup-btn {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  font-weight: 700;
}

#signin-form-title,
#signup-form-title {
  margin: 0;
  font-size: 3rem;
}

#forgot-password {
  margin: 0;
}

#signup-message,
#signin-message {
  font-size: 1rem;
  text-align: center;
  width: 100%;
  height: auto;
}

@media (max-width: 550px) {

  #signin-form,
  #signup-form {
    width: 100%;
    min-height: 50vh;
  }

  #signin-form label,
  #signup-form label {
    position: relative;
    width: 65%;
  }

  #signin-form input,
  #signup-form input {
    width: calc(100% - 24px);
    justify-self: stretch;
  }

  #signin-btn,
  #signup-btn {
    width: 65%;
    margin: 0 auto;
  }
}