html {
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #FAFAFA;
  margin: 0;
}

#app {
  height: 100vh;
  overflow-y: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.app-container {
  display: grid;
  grid-template-rows: 73% 27%;
  top: 58px;
  height: calc(100vh - 58px);
  transition: grid-template-rows 1s;
  -webkit-transition: grid-template-rows 1s;
}

.grid-without-stash {
  grid-template-rows: 97% 3%;
  transition: grid-template-rows 1s;
  -webkit-transition: grid-template-rows 1s;
}

#app-grid-top-row {
  grid-row-start: 1;
  display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: 1px solid #000;
}
