html {
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#app {
  height: 100vh;
  overflow-y: hidden;
}

body {
  background-color: #FAFAFA;
  margin: 0;
}

.app-container {
  display: grid;
  grid-template-rows: 73% 27%;
  top: 58px;
  height: calc(100vh - 58px);
  transition: grid-template-rows 1s;
}

.grid-without-stash {
  grid-template-rows: 97% 3%;
  transition: grid-template-rows 1s;
}

#app-grid-top-row {
  grid-row-start: 1;
  display: grid;
  grid-template-columns: 55% 45%;
  border-bottom: 1px solid #000;
}

#app-grid-top-row-left-col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-right: 1px solid #000;
  overflow: hidden;
}
