#signin-page-container {
  display: grid;
  grid-template-columns: 560px calc(100% - 560px);
  height: 100vh;
  overflow: auto;
}

.signin-page-partition {
  place-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#signin-page-left {
  background-color: var(--top-blue);
}

#signin-page-right {
  background-color: transparent;
}

#signin-page-left h1 {
  font-size: 5rem;
  margin: 0;
  margin-left: 60px;
}

.signin-app-title {
  text-decoration: none;
  cursor: pointer;
}

.signin-app-title:visited {
  color: white;
}


#signin-app-title-orange {
  color: var(--orange-hl);
}

#signin-app-title-orange:visited {
  color: var(--orange-hl);
}

.signin-input-style {
  border: 2px solid var(--orange-hl);
  transition: box-shadow .3s;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  width: 23.5rem;
  height: 2rem;
  font-size: 1rem;
  padding: 0 10px;
  outline: none;
}

.signin-input-style:focus {
  box-shadow: 0 3px 0 var(--orange-hl);
  transition: box-shadow .3s;
}

@media (max-width: 1000px) {
  #signin-page-container {
    grid-template-columns: 100%;
    grid-template-rows: 58px calc(100% - 58px);
  }

  #signin-page-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
  }

  #signin-page-left h1 {
    font-size: 2rem;
    margin: 0;
  }

}