.hero-container {
  width: 100%;
  height: max(175px, 25vw);
  margin-bottom: 10rem;
  position: relative;
}

#carousel-item-container {
  position: relative;
  width: calc(100% * 3);
  height: 100%;
  display: flex;
  flex-direction: row;
}

.hero-carousel-item {
  position: relative;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid var(--orange-hl);
  display: flex;
  flex-direction: row;
}

.hero-artcred-container {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: min(fit-content, 25vw);
  width: min(-moz-fit-content, 25vw);
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, .5);
}

.hero-artcred {
  font-weight: 200;
  margin: 0;
  font-size: clamp(.5rem, 1vw, .75rem);
}

.hero-img {
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
}

.hero-text {
  position: absolute;
  margin: 0;
  z-index: 2;
  font-size: clamp(1rem, 3.5vw, 3rem);
  max-width: 35vw;
  right: 10%;
  top: 50%;
  transform: translate(0, -50%);
}

.hero-gradient {
  width: 50%;
  height: 100%;
  background-color: var(--orange-hl);
}

#hero-next-btn,
#hero-back-btn {
  position: absolute;
  top: calc(50% - 25px);
  z-index: 4;
  width: clamp(17.5px, 3vw, 25px);
  height: 50px;
  /* height: clamp(35px, 6vw, 50px); */
  box-shadow: -1px 1px 1px 2px rgba(0, 0, 0, .25);
}

#hero-next-btn i,
#hero-back-btn i {
  position: relative;
  font-size: clamp(1rem, 3vw, 1.5rem);
}

#hero-next-btn:hover,
#hero-back-btn:hover {
  background-color: hsl(20, 74%, 51%);
  border-color: hsl(20, 74%, 51%);
}

#hero-next-btn {
  right: max(10px, 2vw);
}

#hero-back-btn {
  left: max(10px, 2vw);
  /* left: 2vw; */
}

@media (max-width: 700px) {
  .hero-artcred {
    -webkit-text-stroke: transparent;
    font-weight: 400;
  }
}

@media (max-width: 450px) {
  .hero-container {
    margin-bottom: 7rem;
  }
}