.hero-container {
  width: 100%;
  height: max(175px, 25vw);
  margin-bottom: 10rem;
  position: relative !important;
}

.hero-container * {
  position: absolute;
}

#carousel-item-container {
  position: relative !important;
  width: calc(100% * 3);
  height: 100%;
  display: flex;
  flex-direction: row;
}

.hero-carousel-item {
  position: relative !important;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid var(--orange-hl);
}

.hero-artcred {
  bottom: 0;
  left: 10px;
  font-weight: 600;
  -webkit-text-stroke: 1px black;
  z-index: 2;
  margin: 0;
}

.hero-img {
  top: 0;
  left: 0;
  height: 100%;
  width: 54%;
}

.hero-text {
  margin: 0;
  z-index: 2;
  font-size: 3rem;
  max-width: 30rem;
  right: 10%;
  top: 50%;
  transform: translate(0, -50%);
}

.hero-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, transparent 50%, var(--orange-hl) 50%);
}

#hero-next-btn,
#hero-back-btn {
  top: calc(50% - 25px);
  z-index: 4;
  width: clamp(20px, 4.5vw, 25px);
  /* width: 25px; */
  height: clamp(40px, 9vw, 50px);
  box-shadow: -1px 1px 1px 2px rgba(0, 0, 0, .25);
}

#hero-next-btn i,
#hero-back-btn i {
  position: relative;
  font-size: clamp(1rem, 4vw, 1.5rem);
  /* font-size: 1.5rem; */
}

#hero-next-btn:hover,
#hero-back-btn:hover {
  background-color: hsl(20, 74%, 51%);
  border-color: hsl(20, 74%, 51%);
}

#hero-next-btn {
  right: 2vw;
}

#hero-back-btn {
  left: 2vw;
}

@media (max-width: 1075px) {
  .hero-text {
    font-size: 2.5rem;
    max-width: 25rem;
  }
}

@media (max-width: 850px) {
  .hero-text {
    font-size: 2rem;
    max-width: 20rem;
  }
}

/* @media (max-width: 700px) {
  .hero-gradient {
    background: linear-gradient(40deg, transparent, transparent 50%, var(--orange-hl) 50%);
  }
} */

@media (max-width: 450px) {
  .hero-container {
    margin-bottom: 7rem;
  }
  /* .hero-gradient {
    background: linear-gradient(40deg, transparent, transparent 60%, var(--orange-hl) 60%);
  } */
}