.app-grid-top-row-left-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-right: 1px solid #000;
  overflow: hidden;
}

#draft-page-preload {
  margin: auto;
}

#player-name {
  position: absolute;
  top: 63px;
  left: .5rem;
}

.draft-list {
  position: relative;
  min-height: 580px;
  min-width: 500px;
  margin-left: calc(25vw - 250px);
  border: 3px solid #000;
  background-color: #F0F0F0;
  padding-top: 5px;
}

.drafted-card {
  position: absolute;
  margin: 5px 0 0 5px;
  width: 146px;
  height: 204px;
}

.drafted-card img {
  border-radius: 10px;
  border: 1px solid #000;
}

#draft-carousel-back,
#draft-carousel-next {
  position: absolute;
  z-index: 5;
}

#draft-carousel-next {
  right: 55vw;
}

#draft-carousel-back {
  left: 5vw;
}

/* .not-shifted {
  left: 0;
}

.left-shifted {
  left: calc((25vw + 250px + 6px) * -1);
  transition: left .5s;
} */